local help_message = [[
janni

This module loads janni
]]

help(help_message,"\n")

whatis("Name: janni ")
whatis("URL: http://sphire.mpg.de/wiki/doku.php?id=janni")

{% if sbgrid_installed %}
unload ("sbgrid", "biogrids")
{% endif %}

prepend_path("PATH","{{ janni_install_dir }}/bin")
remove_path("PATH","{{ janni_install_dir }}/condabin")
execute {cmd="source {{ janni_install_dir }}/etc/profile.d/conda.sh", modeA={"load"}}
execute {cmd="source {{ janni_install_dir }}/bin/deinit-bash.sh", modeA={"unload"}}
